---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: true
---

{% include base_path %}

{% comment %}
<!-- Combine posts from both _posts and _life collections -->
{% endcomment %}
{% assign all_posts = site.posts | concat: site.life %}
{% include group-by-array collection=all_posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}