{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="archive-card">
  <article class="archive-card__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="archive-card__content">
      <h3 class="archive-card__title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}" itemprop="url">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h3>
      
      <div class="archive-card__meta">
        {% if post.date %}
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: "%B %d, %Y" }}
          </time>
        {% endif %}
        
        {% if post.collection == 'life' %}
          <span class="archive-card__collection archive-card__collection--life">Life</span>
        {% elsif post.collection == 'portfolio' %}
          <span class="archive-card__collection archive-card__collection--portfolio">Finance</span>
        {% else %}
          <span class="archive-card__collection archive-card__collection--posts">Tech</span>
        {% endif %}
      </div>
    </div>
  </article>
</div>
