{% include base_path %}

<div class="page__donation">
  <h4 class="donation-title">☕ Buy me a coffee! 💝</h4>
  <p class="donation-text">If you found this article helpful, consider buying me a coffee to support my work! 🚀</p>
  
  <div id="donate-button-container">
    <div id="donate-button"></div>
    <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
    <script>
      PayPal.Donation.Button({
        env:'production',
        hosted_button_id:'4HV9FT9FDSRWA',
        image: {
          src:'https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif',
          alt:'Donate with PayPal button',
          title:'PayPal - The safer, easier way to pay online!',
        }
      }).render('#donate-button');
    </script>
  </div>
</div>
