{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.link %}
  {% assign card_url = post.link %}
{% else %}
  {% assign card_url = base_path | append: post.url %}
{% endif %}

<div class="playground-grid__item">
  <a href="{{ card_url }}" rel="permalink" class="playground__item-link">
    <article class="playground__item" itemscope itemtype="http://schema.org/CreativeWork">
      <div class="playground__item-teaser-placeholder">
        <span class="playground__item-title-overlay" itemprop="headline">
          {{ title }}
        </span>
      </div>
    </article>
  </a>
</div>
